
    </body>
    <footer>
        <p>Copyright 2025</p>
        <p>All rights reserved</p>
        <div class="footer__social-links">
            <a href="https://www.facebook.com/profile.php?id=100093191111111" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/profile.php?id=100093191111111" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com/profile.php?id=100093191111111" target="_blank">
        </div>
    </footer>
</html>