<%- include("partials/header.ejs") %>
<%- include("partials/hero.ejs") %>
<a href="/sample" class="page-link">Sample</a>
<a href="/game" class="page-link">Game</a>
<%- include("partials/footer.ejs") %>